body
{
  background-color : black ;
  color : red ;
}

.SplashContainer
{
  position : absolute ;
  text-align : center ;
  left : 0% ;
  top : 0% ;
  right : 0% ;
  bottom : 0% ;
}

.SplashContainer .SplashContent
{
  display : inline-block ;
  vertical-align : middle ;
  max-width : 99% ;
  max-height : 99% ;
}

.SplashContainer .SplashVerticalSpacer
{
  display : inline-block ;
  vertical-align : middle ;
  height : 100% ;
  width : 0% ;
}

.HeaderContainer
{
  position : relative ;
  text-align : center ;
  left : 0px ;
  top : 0px ;
  right : 0px ;
  height : 100px ;
}

.HeaderContainer .HeaderContent
{
  display : inline-block ;
  vertical-align : middle ;
  max-width : 100% ;
  max-height : 100% ;
}

.BorderContainer
{
  border-style : solid ;
  border-width : 4px ;
  margin : 5px ;
}

.BorderContainer .BorderTopLeft
{
  position : absolute ;
  left : -4px ;
  top : -4px ;
  width : 8px ;
  height : 8px ;
  background-image : url('../.images/RedBorder.png') ;
  background-position : top left ;
}

.BorderContainer .BorderTopRight
{
  position : absolute ;
  right : -4px ;
  top : -4px ;
  width : 8px ;
  height : 8px ;
  background-image : url('../.images/RedBorder.png') ;
  background-position : top right ;
}

.BorderContainer .BorderBottomLeft
{
  position : absolute ;
  left : -4px ;
  bottom : -4px ;
  width : 8px ;
  height : 8px ;
  background-image : url('../.images/RedBorder.png') ;
  background-position : bottom left ;
}

.BorderContainer .BorderBottomRight
{
  position : absolute ;
  right : -4px ;
  bottom : -4px ;
  width : 8px ;
  height : 8px ;
  background-image : url('../.images/RedBorder.png') ;
  background-position : bottom right ;
}

.TerminalContainer
{
  text-align : center ;
  font-family : "Courier" ;
}

